# Node Modules
node_modules/

# Environment Variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Uploaded Images (optional)
server/uploads/

# Build Files
dist/
build/